.sidebar {
  flex: 20%;
  padding: 10px 15px;
}
.sidebar ul {
  display: block;
  background-color: orange;
}

.sidebar .area {
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  margin-bottom: 30px;
  
    background-color: rgb(161, 130, 91);
  
  
}
.sidebar h3 {
  width: 100%;
  margin-bottom: 10px;
  font-family: "Playwrite NZ", cursive;
  display: flex;
  justify-content: center;
  position: relative;
}
.sidebar h3::after {
  content: "";
  width: 50%;
  height: 2px;
  background-color: black;
  position: absolute;
  bottom: 0;
}
.sidebar img {
  padding: 5px;
  border-radius: 15px;
}
.sidebar .yazilar {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  /* en alttaki kutudan çizgiye kadar */
  padding-bottom: 50px;
}
.sidebar .yazilar ul li a {
  font-size: 16px;
  text-transform: capitalize;
  /* width: calc(50% - 10px); */
  display: inline-block;
  font-family: "Josefin Sans", sans-serif;
  background-color: white;
  /* padding: 2px; */
  background-color: rgb(117, 50, 26);
  border-radius: 3px;
  cursor: pointer;
  padding-right: 20px;
}
.sidebar a {
  font-family: "Josefin Sans", sans-serif;
  display: block;
  /* padding: 10px; */
  margin-bottom: 5px;
  background-color: white;
}
.sidebar .area .yazilar a {
  width: 100%;
  font-family: "Josefin Sans", sans-serif;
  display: block;
  /* padding: 10px; */
  margin-left: 10px;
  margin-bottom: 5px;

  /* background-color: rgba(21, 148, 48, 0.03); */
}
/* .sidebar a:nth-child(2n + 1)  {
  background-color: rgba(13, 70, 32, 0.08);
} */
/*  Scroll Animation*/
.sidebar .area {
  opacity: 0;
  transition: all 0.5s;
  margin-bottom: 150px;
}
.sidebar .area.active {
  opacity: 1;
}
/* sidebar2 */
.sidebar ul li a {
  transition: all 0.3s ease;
  font-family: "Josefin Sans", sans-serif;
  display: block;
  padding-block: 10px;
  /* padding-inline: 10px; */
  background-color: white;
}

.sidebar ul li a:hover {
  color: bisque;
  padding-block: 30px;
  overflow: hidden;
  /* padding-inline: 30px; */
}
